@import "~antd/dist/antd.css";

.contents{
    margin-top: 10%;
    margin-left:30%;

}


#history, #interns, #companies{font-family:"Verdana";display:inline-flex; width:75% ;margin-bottom: 10%;} 
.historyTitle,.historyTitle2,.word{width:35%;height:1%;padding:0%;}

.eliza{
width: 40%;
}

.word{
    background-color: black;
    color: white;
}

.edit{
    top:100%;
    font-size:10px;
    color: blue;
    cursor: pointer;
    text-decoration: underline
}

.buttonText{
    margin:auto;

}

 

@media (max-width: 1400px){
    
    .historyTitle, .historyTitle2,.word{width:13%;height:1%;padding:0%;margin-right:10%}
    

    .eliza{

        height:30%;
        margin-left:20%;
    
         width:1000%; 

    }
} 


