@import "~antd/dist/antd.css";

.login-form {
  max-width: 80%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.member-login-button {
  float: right;
  margin-right: 7px;
  margin-top: 7px;
}

.challenge-collapse {
  width: 30%;
}

.input {
  width: 55%;
  height: 25x;
  margin: 0 auto;
  display: inline-block;
}

.inputtitle {
  width: 65%;
  height: auto;
  margin-left: 0%;
  display: inline-block;
}
