@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");

.login-form {
  max-width: 80%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.login-logout-button {
  float: right;
  margin-right: 7px;
  margin-top: 7px;
}

.logo-button {
  font-size: 175%;
  font-family: "Arvo", sans-serif;
  font-weight: bold;
}

.input {
  width: 55%;
  height: 25x;
  margin: 0 auto;
  display: inline-block;
}

.inputtitle {
  width: 65%;
  height: auto;
  margin-left: 0%;
  display: inline-block;
}

.chaldelete {
  margin-right: 2%;
  margin-left: auto;
}

.panelheader {
  display: flex;
}

.chalinfo {
  text-align: left;
}

#chalbold {
  font-weight: bold;
}

.topbar-tab {
  font-family: "Arvo", sans-serif;
}

.resource-submit-button {
  margin-right: 15px;
}

body {
  background-color: rgb(252, 252, 252);
}

.welcome-pic {
  max-width: 100%;
  height: auto;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.welcome-text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arvo", sans-serif;
  font-style: italic;
  font-size: 4.3vw;
  color: white;
}

.welcome-text2 {
  position: absolute;
  text-align: center;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arvo", sans-serif;
  font-style: italic;
  font-size: 4.3vw;
  color: white;
}

.logo-text {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arvo", sans-serif;
  font-weight: bold;
  font-size: 16vw;
  color: white;
}

.container {
  position: relative;
}
