@import "~antd/dist/antd.css";

.searchInfo {
  clear: both;
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}
/*
@import "~antd/dist/antd.css";
.searchInfo {
  clear: both;
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
}*/

.search {
  clear: both;
  max-width: 40%;
}

.searchComponent {
  clear: both;
  margin-left: 37%;
  margin-top: 3%;
}

.editInfo {
  clear: both;
  font-size: 10px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.textOfCard {
  clear: both;
  text-align: center;
}

h1 {
  clear: both;
  font-size: 25px;
  margin-top: 5%;
  font-family: "Verdana";
}
.center {
  font-size: 40px;
}
/* //1400 */
@media (max-width: 1400px) {
  .texty {
    width: 40%;
  }

  .searchDiv {
    position: relative;
    right: 35%;
  }
  /* body{
        
        align-items: center;
        position: inherit
    }
    .instuctors{
        margin: auto;
        width: 50%;
        padding: 10px;
    }
      .texty,.InstructorCard{
        margin: auto;
        width: 50%;
        padding: 10px;
    } */
  /* .individualCards{

@media (max-width: 1400px) {
  body {
    align-items: center;
    position: inherit;
  }
  .instuctors {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .texty,
  .InstructorCard {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  /* .individualCards{
>>>>>>> develop
        margin: auto;
        width: 50%;
        padding: 10px;
    } */
  /* .instuctors{
        background-color: sandybrown;
        float: right;
         width: 62%; 
        height: 7px;
        display: block;
        padding: 0px;
        margin-right: 20px;
        margin-bottom: 70px
    } */

  /* p,.InstructorCard{

  .instuctors {
    background-color: sandybrown;
    float: right;
    width: 62%;
    height: 7px;
    display: block;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 70px;
  }

  /* p,.InstructorCard{
        align-items: center;

        margin-left:20%
    } */

  /* .seniorDevs{
        float: right;
         width: 69%; 
        height: 7px;
        display: block;
        padding: 0px;
        margin-right: 20px;
        margin-bottom: 70px
    }
    h1{
        
        float: right;
        width: 97%;
        height: 7px;
        display: block;
        padding: 0px;
        margin-right: 20px
    }
    
    p,.InstructorCard{
       
        width: 250px;
        clear:both; */
  /* margin-right:100px; */
  /* // display:-webkit-inline-box; */
  /* float: right; 
         margin-top: 20px;
        
    }
  .individualCards{
      left:50%;
  }

  #meet,
  .InstructorCard {
    width: 250px;
    clear:both; */
  /* margin-right:100px; */
  /* // display:-webkit-inline-box; */
  /* float: right; 
      
  }
 */
}
@media (min-width: 1400px) {
  .seniorDevs,
  .instuctors {
    clear: both;
    margin-left: 45%;
  }

  .instuctors {
    clear: both;
    margin-left: 45%;
    color: red;
  }

  .allSenior {
    position: relative;
    top: -100px;
  }

  .InstructorCard {
    clear: both;
    float: left;
  }

  .infocard {
    clear: both;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  .texty {
    margin-left: 25%;
    max-width: 35%;
  }

  .individualCards {
    clear: both;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .editInfo {
    margin-left: 60%;
  }
  .nextToImg {
    position: relative;

    top: -220px;
  }
}
