.post-body {
  margin: 1em 27%;
}
.post-body2 {
  margin: 1em 12%;
}

.flexhorizontal {
  display: flex;
}
.flexhorizontal2 {
  margin-left: 43%;
  display: flex;
}
.directoryfont {
  font-size: 40;
}
.flexvertical {
  flex-direction: column;
}
.date {
  font-size: 12px;
  color: gray;
  text-align: right;
}
.escape {
  word-wrap: break-word;
}
.margin {
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.nametitle {
  font-size: 12px;
}
.image-cropper {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  border: 3px solid black;
}
.directory-image {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  border: 3px solid black;
}
.username {
  width: 500px;
  height: 50px;
  position: relative;
  border: 1px solid #5a7191;
  background-color: #93b9e9;
  color: #5a7191;
  padding-top: 13px;
  padding-left: 10px;
}
.indent {
  margin-left: 50px;
}
.tags {
  width: 500px;
  max-height: 300px;
  position: relative;
  border: 1px solid rgb(180, 180, 180);
  background-color: #d3d3d3;
  color: #5a7191;
  padding: 10px;
}
.border {
  width: 510px;
  border: 5px solid rgb(180, 180, 180);
}
.card-style {
  border-radius: 40%;
  width: 100px;
}
.space {
  width: 10px;
  height: 10px;
}
.space {
  width: 1px;
  height: 1px;
}
@media (max-width: 900px) {
  .post-body {
    margin: 1em 20%;
  }
}
