body{
    background-color: silver;
}

.header {
    font-size: 50px;
    margin-bottom: -1px;
}
#sidefo {
    margin: 70px auto;
    padding-top: 20px;
    color: black;
    font-size: 18px;
    padding-right: 70px;
}
.center {
    margin: 75px auto;
    vertical-align: middle;
    text-align: center;
    height: 600px;
    background-color: white;
    width: 1200px;
    padding-bottom: 30px;
}

#userfo{
    text-align: center;
}
.rower{
    padding-top: 30px;
}
.profpic {
    /* border: 1px groove; */
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-left: 70px;
}

.banner {
    width: 100%;
    height: 75px;
    object-fit: cover; /* Crops */ 
    margin-bottom: 30px;
}
.underpic{
    padding-top: 40px;
    color: black;
    font-size: 3.2em;
    text-align: center;
    padding-left: 100px;
}
#aboutme{
    text-align: left;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid;
    border-color: silver;
    background-color: #F8F8F8;
    width: 60%;
    height: 250px;
}